
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;;
}

body{
    background-color: #edeaff;
}

.container{
    width: 90%;
    max-width: 500px;
    margin: 200px auto 0;
    padding: 40px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)) ,url("./images/background.png");
    text-align: center;
}

.container h1{
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

.timer-controls{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.timer-controls > *{
    width: 50px;
    
}

img:nth-child(2){
    transform: scale(1.3);
}

